html{
    background-image: url(./images/bg2.jpg);
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
}

.opacity{
    opacity: 0.9;
}

#match{
    min-height: 224px;
}
.footer {
    margin-top: 1rem;
    padding: 2rem;
}